@charset "UTF-8";
* {
  font-family: 'Open Sans', sans-serif; }

#fondoPrincipal {
  background-color: #a1cbf3;
  width: 95%;
  height: auto;
  margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 80px #8d8d8d; }

div header nav {
  margin-left: 50px;
  margin-right: 50px;
  background-color: #0a1641;
  padding: 15px 30px;
  border-radius: 20px; }
  div header nav ul {
    margin-bottom: 0; }
    div header nav ul li {
      display: inline-block; }
      div header nav ul li label.checkbtn {
        float: none; }
      div header nav ul li a {
        color: #fafdff;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        font-size: 22px;
        font-weight: 500; }
        div header nav ul li a :hover {
          background-color: #fafdff;
          color: #0a1641;
          transition: 0.4s background-color; }

div header h1 {
  color: #0a1641;
  font-size: 65px;
  padding-top: 50px;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 800;
  text-shadow: 2px 2px 10px;
  -webkit-text-stroke: 2px white;
  color: #0a1641;
  letter-spacing: 6px; }

#linkPlantel {
  margin-left: 70px; }

.noHome {
  margin-left: 30px; }

.checkbtn {
  font-size: 30px;
  color: #fafdff;
  float: right;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

/* Contenido de index.html */
.contenidoIndex {
  width: auto;
  height: 600px;
  margin: 20px 50px;
  text-align: center; }
  .contenidoIndex iframe {
    height: 100%;
    width: 90%; }

/* Contenido de plantel.html */
.contenidoPlantel {
  display: grid;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fill, 350px);
  /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
  width: auto;
  height: auto;
  margin: 20px 50px;
  justify-items: center; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 425px;
  width: 300px;
  padding: 10px 10px;
  background-color: #fafdff;
  text-align: center; }
  .card :hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 2px 16px; }

.fotoCard {
  width: 100%;
  height: 75%; }

/* Contenido de partidos.html */
.parrafo-foto {
  display: block;
  align-items: center;
  margin: 20px; }

.foto-parrafo {
  display: block;
  align-items: center;
  margin: 20px; }

.titulo2 {
  font-size: 40px;
  color: #0a1641;
  margin: 20px; }

.parrafo1 {
  font-weight: 600;
  font-size: 19px;
  margin: 20px; }

.parrafo2 {
  font-weight: 600;
  font-size: 19px;
  margin: 20px; }

.contenidoPartidos {
  width: auto;
  height: auto;
  align-items: center;
  text-align: center; }
  .contenidoPartidos div img {
    height: 80%;
    width: 80%; }

/* Contenido de historia.html */
.contenidoHistoria {
  width: auto;
  height: auto;
  margin: 20px 50px; }

.parrafohistoria {
  font-size: 20px; }

/* Contenido de galeria.html */
.contenidoGaleria {
  width: auto;
  height: auto;
  margin: 20px 50px; }

.fotosGaleria {
  padding: 15px; }

.carousel-inner {
  margin: auto; }
  .carousel-inner img {
    width: 95%;
    height: 95%; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  color: black;
  outline: black; }

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #0a1641;
  border-radius: 10px; }
  footer div {
    padding-left: 20px;
    padding-right: 20px;
    color: #fafdff; }
  footer img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px; }

@media screen and (max-width: 768px) {
  div header nav {
    height: 75px; }
    div header nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #0a1641;
      top: 100px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      padding-left: 0; }
      div header nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 40px; }
        div header nav ul li a {
          font-size: 20px;
          margin: 0px; }
          div header nav ul li a :hover {
            background-color: #fafdff;
            color: #0a1641;
            transition: 0.4s background-color; }
  div header h1 {
    color: #0a1641;
    font-size: 45px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 600;
    text-shadow: 2px 2px 10px;
    -webkit-text-stroke: 0.5px white;
    color: #0a1641;
    letter-spacing: 2px; }
  .checkbtn {
    display: block; }
  #check:checked ~ ul {
    left: 0; }
  #linkPlantel {
    margin-left: 0px; }
  .noHome {
    margin-left: 0px; }
  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #0a1641;
    border-radius: 10px; }
    footer div {
      padding-left: 10px;
      padding-right: 10px;
      color: #fafdff; }
    footer img {
      width: 10%;
      height: 10%;
      margin-left: 20px;
      margin-right: 20px; }
  #primerfooter {
    font-size: 80%; }
  #segundofooter {
    display: none; } }

/* CORRECCIÓN DE MEDIA QUERYS PARA PANTALLA MEDIANA-GRANDE */
@media screen and (min-width: 769px) and (max-width: 873px) {
  div header nav ul {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box; }
    div header nav ul li a {
      font-size: 18px; }
  div header h1 {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: 600;
    text-shadow: 1px 1px 10px;
    -webkit-text-stroke: 1px white;
    color: #0a1641;
    letter-spacing: 2px; } }

@media screen and (min-width: 1300px) {
  .contenidoPartidos {
    width: auto;
    height: auto;
    margin: 20px 50px;
    padding: 0 10px; }
    .contenidoPartidos div img {
      height: 50%;
      width: 50%; }
  .parrafo-foto {
    display: flex;
    align-items: center;
    margin-top: 40px; }
  .foto-parrafo {
    display: flex;
    align-items: center;
    margin-top: 40px; }
  .titulo2 {
    padding: 15px 0px;
    font-size: 40px;
    color: #0a1641;
    text-align: start;
    margin-left: 20px; }
  .parrafo1 {
    font-weight: 600;
    font-size: 19px;
    margin-right: 50px;
    margin-top: 0px; }
  .parrafo2 {
    margin-top: 0px;
    font-weight: 600;
    font-size: 19px;
    margin-left: 50px;
    align-items: center; } }
